<p>
  <strong>Number of Points:</strong>
  <%= @result.last.values.last %>
</p>

<table class="user-listing">
  <tr>
    <th>Email</th>

    <th>Actions</th>

  </tr>

  <% @users.each do |user| %>
    <tr>
      <% if user.email %>
        <td><%= user.email %></td>
      <% end %>

      <td><%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-warning' %></td>
  <% end %>
</table>

<%= link_to 'New User', new_admin_user_path, class: 'btn btn-success' %>
